body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.jhbutton {
	letter-spacing: 0.2em;
    text-transform: uppercase;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}